.wrap {
  color: rgb(51, 51, 51) ;
  background-color: white;
  border-radius: 8px;
  margin: 25px 20px 0px 20px;
  box-shadow:4px 4px 8px -5px rgba(0, 0, 0, 0.01);
  .title {
    display: flex;
    margin: 0 15px 0 15px;
    padding: 10px 0 7px 0;
    border-bottom: 1px solid rgb(241, 241, 241);
    align-items: center;
    .icon{
      height: auto;
      width: 19px;
      background-color: rgb(243, 243, 243);
      border-radius: 25px;
      padding: 8rpx;
      margin-right: 5px;
    }
    .name{
      font-size: 15px;
    }
  }
  .list {
    display: flex;
    margin: 0px 10px 0rx 10px;
    .button{
      padding: 10px;
      flex: 1;
      font-size: 15px;
      text-align: center;
    }

  }
}